<!DOCTYPE html>
<html>
    <head>
        <title>Draw me a Tintin</title>
        <!-- JQuery -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <!-- Bootstrap -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                crossorigin="anonymous">
        <link   href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
                crossorigin="anonymous">
        <link   href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" 
                crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                crossorigin="anonymous">
        </script>
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
        <!-- Local CSS -->
        <link rel="stylesheet" href="static/style/main.css">
        {{#each styles}}
            <link rel="stylesheet" href="static/style/{{this}}">
        {{/each}}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-left">
                        <img src="static/image/original.png" id="brand-logo" class="img-rounded" alt="Logo">
                    </a>
                    <a class="navbar-brand font-sansita" href="/">Draw Me A Tintin</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav font-sansita">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/gallery">Galerie</a></li>
                        <li><a href="/proposals">Propositions</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right font-sansita">
                        <li><a href="/login">Connexion</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {{{ body }}}

        <script src="static/script/main.js"></script>
        {{#each scripts}}
            <script src="static/script/{{this}}"></script>
        {{/each}}
    </body>
</html>