/*
 *  Main
 */

:root {
	--trans-speed: 0.3s;
}

html, body {
	height: 100%;
	background-color: hsl(205, 100%, 36%);
}

html {
	overflow-y: scroll;
}

body {
	margin: 0px;
}



/*
 *  Header
 */

header {
	height: 342px;
	background-color: hsl(209, 39%, 36%);
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h1 {
	margin: 0px;
	font: 400 70px/1.2 'Sansita one', Georgia, serif;
	color: white;
}



/*
 *  Search input
 */
.search { 
	padding: 6px 15px 6px 30px;
	width: 300px;
}



/*
 *  Section
 */

section {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image-container, .resource-container {
	cursor: pointer;
	position: relative;
	height: 200px;
	width: 200px;
	margin: 10px;
}

#resources {
	display: none;
}

.nav-pills li {
	cursor: pointer;
}


/*
 *  Images
 */

.images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

figure {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 7px;
	transition: ease box-shadow var(--trans-speed);
}

figure:hover, figure:focus {
	box-shadow: 0 0 15px hsla(0, 100%, 100%, 0.7);
	outline: none;
}

figure img {
	position: absolute;
	width: 100%;
}

figure figcaption {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.75);
	color: white;
	font-size: 1.2em;
	opacity: 0;
	cursor: pointer;
	transition: ease opacity var(--trans-speed);
}

figure:hover figcaption, figure:focus figcaption {
	opacity: 1;
}

.text {
	font: 400 20px/1.2 'Sansita one', Georgia, serif;
	color: white;
}


/*
 *  Modal
 */

 #modal-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.imagepreview {
	padding-bottom: 10px;
}