body {
	background-color: #006BB8;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus
{
	color: #67C8FF;
}

#brand-logo {
	margin-top: 5px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
}

.font-sansita {
	font-family: 'Sansita one', Georgia, serif;
}

.navbar-brand {
	font-size: 25px;
	line-height: 20px;
}

.navbar-collapse {
	font-size: 18px;
}

.dropdown .caret {
	margin-bottom: 10px;
}