{{#if isAuthenticated }}
    <div class="alert alert-danger">Vous êtes authentifié !</div>
{{/if}}

<div class="jumbotron col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-cogs"></span> Work in progress</h1>
</div>