<div class="jumbotron col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> Connexion</h1>
    
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Pas encore de compte ? <a href="/signup">Inscription</a></p>
</div>