<!DOCTYPE html>
<html>
    <head>
        <title>Draw me a Tintin</title>
        <link rel="stylesheet" type="text/css" href="style/index.css">
        <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>Draw me a Tintin</h1>
            <img src="image/Original.png" alt="Original profile picture">
        </header>
        <section id="images">
            {{#each images}}
                <img class="image-element" src="image/{{this.file}}" alt="A profile picture">
            {{/each}}
        </section>
        <footer>
            
        </footer>
    </body>
</html>