<!DOCTYPE html>
<html>
    <head>
        <title>Draw me a Tintin</title>
        <link rel="stylesheet" type="text/css" href="style/index.css">
        <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <h1>Draw me a Tintin</h1>
            <div class="image-container-header">
                <img class="image" src="picture/Original.png" alt="Original profile picture by Kingdom Rush">
                <div class="textbox">
                    <p class="text">Original</p>
                    <p class="text">by Kingdom Rush</p>
                </div>
            </div>
            <span class="dark"><input type="text" id="author-search" class="search" placeholder="Author"></span>
        </header>
        <section id="images">
            {{#each images}}
                <div class="image-container" author="{{this.author}}">
                    <img class="image" src="picture/{{this.file}}" alt="A profile picture by {{this.author}}" height="200px" width="200px">
                    <div class="textbox">
                        <p class="text">{{this.name}}</p>
                        <p class="text">by {{this.author}}</p>
                        <p class="text">{{this.date}}</p>
                    </div>
                </div>
            {{/each}}
            <div id="images-modal" class="modal">
                <span class="close">&times;</span>
                <div class="modal-content">
                    <img id="modal-image">
                </div>
            </div>
        </section>

        <script src="script/index.js"></script>
    </body>
</html>