<p>Félicitations {{ name }}, tu viens de créer un compte sur le site Draw Me A Tintin !<p/>

<p>Pour valider ton compte, clique sur le lien ci-dessous :</p>

<a href="{{ url }}" >Lien de validation</a>